/**
 * Setting
 */

$fontLora: "Lora",
serif;
$fontOswald: "Oswald",
serif;

$fontSize: 24px;
$mobileFontSize: 18px;
$mobileSmallFontSize: 14px;

$lineHeight: 1.5;

$baseColor: lighten(#1d1d1b, 10%);
$grey: #d4d2d2;
$yellow: #fdec4f;
$black: #000;
$white: #fff;

/**
 * Mixin
 */


/**
 * Global Properties
 */

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  font-size: $fontSize;
  overscroll-behavior-y: none;

  @media only screen and (max-width: 767px) {
    font-size: $mobileFontSize;
  }

  @media only screen and (max-width: 479px) {
    font-size: $mobileSmallFontSize;
  }
}

body {
  font-family: $fontLora;
  font-weight: 400;
  line-height: $lineHeight;
  overflow-x: hidden;
  color: $baseColor;
  background: $baseColor;

  &.open {
    overflow: hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $fontLora;
  font-weight: 700;
  margin: 0;
}

em,
i {
  font-style: italic;
  font-weight: 400;
}

strong,
b {
  font-weight: 700;
}

iframe {
  display: block;
  width: 100%;
}

p {
  margin-top: 0;

  &:empty {
    display: none;
  }
}

img {
  max-width: 100%;
}

a,
a:hover,
a:visited,
a:focus,
a:active {
  color: inherit;
  text-decoration: none;
  outline: 0;
}

input,
textarea {
  font-family: $fontLora;
  padding: 10px 20px;
  font-size: 0.75rem;
}

::-webkit-input-placeholder {
  font-family: $fontLora;
}

video {
  display: block;
  width: 100%;
}

/**
 * Header
 */

header {
  position: relative;
  font-family: $fontOswald;
  font-weight: 700;
  z-index: 999;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      cursor: pointer;
      padding: 6px 20px;
      font-size: 48px;
    }
  }

  button {
    opacity: 0.8;
    background-color: transparent;
    position: fixed;
    z-index: 2;
    top: 24px;
    left: 24px;
    border: none;
    width: 36px;
    height: 30px;
    outline: none;
    transition: opacity 0.2s ease-out;
    cursor: pointer;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      right: auto;
      width: 100%;
      background: linear-gradient(to bottom,
        $yellow, $yellow 20%,
        transparent 20%, transparent 40%,
        $yellow 40%, $yellow 60%,
        transparent 60%, transparent 80%,
        $yellow 80%, $yellow 100%);
      transition: opacity 0.2s ease-out, width 0.2s 0.2s ease-out;
    }

    &:after {
      opacity: 0;
      content: '×';
      color: $white;
      position: absolute;
      top: 16px;
      left: -4px;
      font-family: Arial, sans-serif;
      font-size: 76px;
      line-height: 0;
      transition: opacity 0.4s ease-out;
    }

    &:active {
      transform: translateY(2px);
    }

    &:hover {
      opacity: 1;
    }

    .open & {
      opacity: 1;

      &:before {
        opacity: 0;
        width: 0;
      }

      &:after {
        opacity: 1;
        transform: translate3d(0, 0, 0) rotate(360deg);
        transition: transform 0.4s 1s ease-out, opacity 0.4s 1s ease-out;
      }
    }
  }

  nav {
    z-index: 1;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      background: rgba(darken($yellow, 10%), 0.98);
      width: 100%;
      height: 0;
      padding-bottom: 100%;
      border-radius: 100%;
      transform: scale(0.04), translateY(9999px);
      overflow: hidden;
    }

    .open & {
      top: 0;

      &:before {
        animation: menu-animation 0.8s ease-out forwards;
      }
    }
  }

  ul.menu {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    backface-visibility: hidden;
    perspective: 1000;
    color: $baseColor;

    li {
      opacity: 0;
      text-align: center;
      transform: translate3d(0, 36px, 0);

      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        left: auto;
        background-color: $baseColor;
        height: 100%;
        width: 0;
        overflow: hidden;
        transition: width 0.14s ease-out;
      }

      &:after {
        opacity: 0;
        content: attr(data-text);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        color: $yellow;
        overflow: hidden;
        transform: translate(-24px, 6px);
        transition: transform 0.1s ease-out,
          opacity 0.1s ease-out;
      }

      &:hover {
        &:before {
          left: 0;
          right: auto;
          width: 100%;
        }

        &:after {
          opacity: 1;
          padding: 0 20px;
          transform: translate(0px, 6px);
          transition: transform 0.2s 0.14s ease-out,
            opacity 0.2s 0.14s ease-out;
        }
      }

      .open & {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        transition: transform 0.2s ease-out, opacity 0.2s ease-out;

        @for $i from 1 to 5 {
          &:nth-child(#{$i}) {
            transition-delay: $i * 0.1s + 0.65s;
          }
        }
      }
    }

    @media only screen and (max-height: 499px) {
      // display: none;
    }
  }

  div.contact {
    position: absolute;
    width: 100%;
    bottom: 20px;
    text-align: center;
    opacity: 0;

    svg {
      font-size: 40px;
    }

    .open & {
      opacity: 1;
      transform: translate3d(0, 0, 0);
      transition: transform 0.2s ease-out, opacity 0.2s ease-out;
      transition-delay: 0.75s;
    }
  }
}

/**
 * Main
 */

div.light-wrapper {
  position: fixed;
  max-width: 1200px;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  z-index: 900;

  svg {
    position: absolute;
    display: block;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 25%;
    opacity: 0;

    path {
      fill: $yellow;

      &#circle {
        opacity: 1;
      }
    }
  }
}

section {
  width: 100vw;
  height: 100vh;
  transform: translate3d(0, 0, 0);

  div.inner {
    position: relative;
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;
  }
}

section.section-1 {
  background: $baseColor;

  div.letter-one {
    position: absolute;
    top: 50%;
    left: 0;
    font-family: $fontOswald;
    font-weight: 700;
    font-size: 50vmin;
    color: $black;
    line-height: 1;
    transform: scaleX(-1) translateY(-50%);
    z-index: 10;
  }

  div.text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20vmin;
    right: 20vmin;
    font-family: $fontOswald;
    font-weight: 400;
    font-size: 4vmin;
    color: $white;
    text-align: center;
    text-transform: uppercase;
  }

  div.letter-two {
    position: absolute;
    top: 50%;
    right: 0;
    font-family: $fontOswald;
    font-weight: 700;
    font-size: 50vmin;
    color: $black;
    line-height: 1;
    transform: translateY(-50%);
    z-index: 10;
  }
}

section.section-2 {
  background: $baseColor;

  canvas {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  img {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    width: 1%;
    z-index: 600;
  }
}

section.section-3 {
  background: $grey;

  div.text-1,
  div.text-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: fit-content;
    transform: translateX(-50%);
    font-family: $fontOswald;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
  }

  div.text-2 {
    opacity: 0;
  }
}

section.section-4 {

  div.text-1 {
    text-align: center;
    width: 100%;
    font-size: 2rem;
    color: $white;
    padding: 5vh 0;
  }

  div.text-2 {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
    font-family: $fontOswald;
    font-weight: 700;
    letter-spacing: 2vmin;
    font-size: 10vmin;
    color: $white;
  }
}

section.section-5 {

  div.text-1 {
    text-align: center;
    width: 100%;
    font-size: 2rem;
    color: $white;
    padding: 5vh 0;
  }

  div.leistungen {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }

  div.text-2,
  div.text-3,
  div.text-4,
  div.text-5,
  div.text-6 {
    font-weight: 700;
    font-size: 5vmin;
    margin: 2vmin 0;
    text-align: center;

    span {
      display: inline-block;
      position: relative;
      padding: 0.5vw 1vw;
      user-select: none;

      &:before {
        display: block;
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        z-index: -1;

      }
    }
  }

  div.text-3 span:before {
    background-color: transparent;
    height: 0;
  }

  div.text-4 span:before {
    background-color: transparent;
    height: 0;
  }

  div.text-5 span:before {
    background-color: transparent;
    height: 0;
  }

  div.text-6 span:before {
    background-color: transparent;
    height: 0;
  }
}

section.section-6 {
  background-image: linear-gradient(90deg, $grey 49.99%, $white 50%);

  div.text-1 {
    font-family: $fontOswald;
    font-size: 10vmin;
    letter-spacing: 1vmin;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;

    span:first-child {
      color: $baseColor;
    }

    span:last-child {
      color: $grey;
    }
  }

  div.bild {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 50%;

    img {
      display: block;
      width: 100%;
    }

    img.image-2,
    img.image-3 {
      position: absolute;
      top: 0;
      opacity: 0;
    }
  }

  div.text {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 50%;
    padding: 2vmin;

    b {
      font-family: $fontOswald;
    }

    h3 {
      font-family: $fontLora;
      font-size: 2rem;
      font-weight: 400;
      margin: 0;
    }

    div.image-2,
    div.image-3 {
      position: absolute;
      top: 2vmin;
      opacity: 0;
    }
  }

}

section.section-7 {
  background: $white;

  h2 {
    width: 100%;
    font-family: $fontOswald;
    text-transform: uppercase;
    color: $white;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    background: $baseColor;
    text-align: center;
    padding: 2vw 0;
    margin: 0;
  }

  div.image-holder {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;

    img {
      float: left;
      width: 33.33%;
      display: block;
      padding: 0 20px;
    }
  }

  @media only screen and (max-width: 767px) {
    div.image-holder img {
      width: 33.3%;
    }
  }
}

section.section-8 {

  h2 {
    font-family: $fontOswald;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
    width: 100%;
    color: $white;
    font-size: 2rem;
    letter-spacing: 0.5vw;
    z-index: 20;
    margin: 0;
  }

  div.text {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba($baseColor, .9)
  }

  div.jan {
    background: url(https://placeimg.com/1000/1000/any?78922) no-repeat;
    background-position: center center;
    background-size: cover;
    width: 50vw;
    height: 100vh;
    float: left;
  }

  div.jonathan {
    background: url(https://placeimg.com/1000/1000/any?78912) no-repeat;
    background-position: center center;
    background-size: cover;
    width: 50vw;
    height: 100vh;
    float: right;
  }

  @media (orientation: portrait) {

    div.jan,
    div.jonathan {
      width: 100vw;
      height: 50vh;
    }
  }

}

/**
 * Footer
 */

footer {
  width: 100vw;
  height: 100vh;
  transform: translate3d(0, 0, 0);
  position: relative;

  h2 {
    position: absolute;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
    width: 100%;
    color: $white;
    font-size: 2rem;
    letter-spacing: 0.5vw;
    z-index: 20;
    margin: 0;
    padding: 0 0.5vw;

    a {
      letter-spacing: 0;
    }
  }

  nav {
    position: absolute;
    width: 100%;
    bottom: 0;
    font-family: $fontOswald;
    background: $grey;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.75rem;
    color: $baseColor;

    a {
      display: inline-block;
      margin: 0.5vw;
    }

    &:before {
      display: block;
      position: absolute;
      left: 50%;
      top: 0;
      transform: translate(-50%, -95%);
      content: "\00a0\00a0\00a0JOTT\00a0MEDIA";
      line-height: 1;
      font-family: $fontOswald;
      font-size: 4rem;
      font-weight: 700;
      color: $grey;
    }
  }
}

/**
 * Legal
 */

div.legal {
  position: relative;
  background: $grey;
  z-index: 9999;

  #agb,
  #impressum,
  #datenschutz {
    display: none;
  }

  div.inner {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem 2rem;

    h2,
    h3 {
      padding: 0.5rem 0 0.5rem;
    }

    a {
      text-decoration: underline;
    }
  }

  &:before {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 10px;
    top: -10px;
    background: linear-gradient(to bottom, transparent 0%, $grey 100%);
  }
}

/**
 * Utilities
 */

span.cursor {
  border-right: 0.03em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

@keyframes menu-animation {
  0% {
    opacity: 0;
    transform: scale(0.04) translateY(300%);
  }

  40% {
    transform: scale(0.04) translateY(0);
    transition: ease-out;
  }

  40% {
    transform: scale(0.04) translateY(0);
  }

  60% {
    opacity: 1;
    transform: scale(0.02) translateY(0px);
  }

  61% {
    transform: scale(0.04);
  }

  99.9% {
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
  }

  100% {
    transform: scale(2);
    height: 100%;
    padding-bottom: 0;
    border-radius: 0;
  }
}