/**
 * Setting
 */

$fontLora: "Lora", serif;
$fontOswald: "Oswald", serif;

$fontSize: 24px;
$mobileFontSize: 20px;
$mobileSmallFontSize: 14px;

$lineHeight: 1.5;

$baseColor: #1d1d1b;
$grey: #d4d2d2;
$yellow: #fdec4f;
$black: #000;
$white: #fff;

/**
 * Global Properties
 */

html,
body {
  font-size: $fontSize;
  @media only screen and (max-width: 767px) {
    font-size: $mobileFontSize;
  }
  @media only screen and (max-width: 479px) {
    font-size: $mobileSmallFontSize;
  }
}

body {
  font-family: $fontLora;
  font-weight: 400;
  line-height: $lineHeight;
  overflow-x: hidden;
  color: $baseColor;
  background: $baseColor;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $fontLora;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 1em;
}

em,
i {
  font-style: italic;
  font-weight: 400;
}

strong,
b {
  font-weight: 700;
}

iframe {
  display: block;
  width: 100%;
}

p {
  margin-top: 0;

  &:empty {
    display: none;
  }
}

img {
  max-width: 100%;
}

a,
a:hover,
a:visited,
a:focus,
a:active {
  color: inherit;
  text-decoration: none;
  outline: 0;
}

input,
textarea {
  font-family: $fontLora;
  padding: 10px 20px;
  font-size: 0.75rem;
}

::-webkit-input-placeholder {
  font-family: $fontLora;
}

video {
  display: block;
  width: 100%;
}

/**
 * Header
 */

/**
 * Main
 */

div.light-wrapper {
  position: fixed;
  max-width: 1200px;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;

  svg {
    position: absolute;
    display: block;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 25%;
    opacity: 0;

    path {
      fill: $yellow;

      &#circle {
        opacity: 0;
      }
    }
  }
}

section {
  width: 100vw;
  height: 100vh;
  transform: translate3d(0,0,0);

  div.inner {
    position: relative;
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;
  }
}

section.section-1 {
  background: $baseColor;

  div.letter-one {
    position: absolute;
    top: 50%;
    left: 0;
    font-family: $fontOswald;
    font-weight: 700;
    font-size: 50vmin;
    color: $black;
    line-height: 1;
    transform: scaleX(-1) translateY(-50%);
    z-index: 10;
  }

  div.text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20vmin;
    right: 20vmin;
    font-family: $fontOswald;
    font-weight: 400;
    font-size: 4vmin;
    color: $white;
    text-align: center;
    text-transform: uppercase;
  }

  div.letter-two {
    position: absolute;
    top: 50%;
    right: 0;
    font-family: $fontOswald;
    font-weight: 700;
    font-size: 50vmin;
    color: $black;
    line-height: 1;
    transform: translateY(-50%);
    z-index: 10;
  }
}

section.section-2 {
  background: $baseColor;

  canvas {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  img {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    width: 1%;
    z-index: 600;
  }
}

section.section-3 {
  background: $grey;

  div.text-1,
  div.text-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: fit-content;
    transform: translateX(-50%);
    font-family: $fontOswald;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    font-size: 3vmin;
  }

  div.text-2 {
    opacity: 0;
  }
}

section.section-4 {

  div.text-1 {
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 2vmin;
    color: $white;
    padding: 5vh 0;
  }

  div.text-2 {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
    font-family: $fontOswald;
    font-weight: 700;
    letter-spacing: 2vmin;
    font-size: 500%;
    color: $white;
  }

  div.text-3 {
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 2vmin;
    color: $white;
    padding: 5vh 0;
    bottom: 0;
  }
}

/**
 * Footer
 */

/**
 * Utilities
 */

span.cursor {
  border-right: 0.03em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}
